data-id="{{this.id}}" data-attack="{{this.attack}}" data-health="{{this.health}}" name="{{taco_name}}">
    <h1 >{{taco_name}}</h1>
    <h1 class="{{taco_name}}-health">{{health}}</h1>
    <img src="https://via.placeholder.com/200">
</div>
